    #comparel{
      position: absolute;
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }


    #comparel .block1{
        display: block;
        width: 25%;
        height:500px;
        margin: 0 1px;

     }

     .block1 > div{
      line-height: 1.5;
     }

  .volume{
    text-align: left;
    margin-left: 50px;
  }

  #daysbuy, #BuyDropdown{
    width :100%;

  }

     [id^='getData'], button, a{
     background-color: #FFD700;
     border: none;
     border-radius: 10px;
     height: 30px;
     margin: auto;
     width: 45%;
     margin:8px;
     text-align: center;
      text-decoration-line: none;
     }
     .static a{
          text-decoration: none;
          /* width: 20%; */
          padding-top: 5px;
          margin-bottom: -5px !important;
          text-align: center;
          height: 25px;
            }


     body{
       min-width: 320px;
       margin: 0 !important;
     }

     .charts{
        width: 100%;
        margin: auto;
        }
    .charts > div{
        display: flex;
        width:100%;
        }
    .charts > div > div{
        width: 75%
        }

     .right{
      align-self: center;
      text-align: left;
      width: 25% !important;
     }
     .right .block1{
      letter-spacing: 0.08rem;
     }

     
     canvas{
        margin: 15px 0;
        width: 100% !important;

      }
      canvas.volume{
        margin: 0;
        height: 150px !important;
      }

     .MarketCap, .High, .Reserve, .difference0, .difference1 , .difference2, .difference3{
          background-color: #FFD750;
          padding: 0 5% 0 10px;
          width: 100%;
      }

      /* .difference2  {
        padding: 0 5% 0 10px;
        width: 100%;
      } */

      [class^=upTrend], [class^=downTrend]{
        display: none;
        width: 93% !important;
      }
      .Ddropdown, .Gdropdown{
        width: 20% !important;
        margin: 0 8px;
      }
      #gainers, #nogainers{
        width: 100% !important;
        margin-left: 0 !important;
      }

      .upTrends::before, .upTrend0::before, .upTrend1::before, .upTrend2::before, .upTrend3::before{      
        transform: scale(1.5);
        display: inline-flex;
        margin-left: 5px;
        width: 12px;
        content: '\25b2';
        padding-right: 0.5em;
        color: green;

      }

      .downTrends::before,.downTrend0::before, .downTrend1::before, .downTrend2::before, .downTrend3::before{      
        transform: scale(1.5);
        display: inline-flex;
        margin-left: 5px;
        width: 12px;
        content: '\25bc';
        padding-right: 0.5em;
        color: red;

      }

      button span{
        padding-left: 12px;
      }

      .difference.up {
        background-color: #65f050f9;
      }

      .difference.down {
        background-color: #ff5e00b2;
      }
      .company, .Low, .Barrowing, .bookvalue{
        padding: 0 5% 0 10px;
      }

      .currentPrice {
        padding: 6px 5% 0 15px;
        font-weight: 600;
        /* text-align: center; */
      }

     .search{
      display: flex;
      margin-top: 100px;
      background-color: #fff;
      padding: 10px 5px;
      flex-wrap: wrap;
      justify-content: center;
     }
     .search input{
       height: 30px;
       width:30%;
     }
 #secSearch{
  margin-top: 50px;
 }
     .static{
       opacity: 1;
       background-color: #fff;
       position: fixed;
       top: 0;
       margin: 0;
       display: flex;
       flex-wrap: wrap;
       width: 100%;
       z-index: 200;
       height: 100px;
       justify-content: center;
     }
     .hide{
       display: none;
     }
     label{
       margin: 5px 10px;
       display: inline-block;
       width: fit-content;
     }
     #filter, #filters{
      min-width: 250px;
      max-width: 250px;
      height: 30px;
      margin-left: 1px;
     }
     .range{
       position: relative;
       display: flex;
       width: 100%;
       flex-wrap: wrap;
       justify-content: space-between;
       margin-top: 60px;
     }
  
     .range button, .range dropdown{
       width:20% ;
     }
     .active{
       background-Color : rgb(0, 168, 0);
     }
  
     .buy{
       position: relative;
       display: none;
     }
     .show{
       display: block;
     }
     .dropdown{
       width: 22%;
     }
     .dropdown button{
       width: 90% !important;
     }
     .resultbox{
      width: 21%;
      margin: 0 !important;
      padding: 0;
      display: flex;
      justify-content: space-between;
     }

     [class^=results], [class^=resultsd] {
      width: 93% !important;
      margin-left: -5px !important;
      margin-right: -5px;
  }
     
     .volume li{
        margin: 20px 50px;
        padding: 0 30px;
  
     }

     #comparel > div > a{
        height: 0px;
        width: 100% !important;
            
    }
    input[type='checkbox']{
        cursor: pointer;
    }
    input[type='checkbox']:nth-of-type(even):before{
      content: "★";
      display: inline-block;
      font-size: 32px;
      margin-top: -16px;
      color: rgb(200, 200, 200);
    }

    input[type='checkbox'].star:before{
      color: rgb(0, 150, 255);
    }

    input[type='checkbox']:nth-of-type(even){
      width: 0;
    }



/* Sector style Start */

  #clear{
    background-color: #ccc;
    margin-top: 1px;
    margin-left: -36px;
    width: 38px !important;
    border-radius: 0 50%;
    height: 35px;
  }
  #SectorList{
    display: block;
    z-index: 2000;
    position: fixed;
    list-style: none;
    background-color: aliceblue;
    line-height: 1.5;
    margin-top: 0;
    padding-left: 3px;
    right: 4px;
    left: 4px;
    height: 90%;
    overflow: scroll;
    top: 0;
       }
    #SectorList li{
        border-bottom: 0.5px solid #000 ;
        padding-left: 8px;
        line-height: 2;
       }

    
      .static > .range  > a, [id^='getData'], button, a {

      width : 20% !important;
    }
    #filter{
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      margin-left: 10px !important;
      padding: 2px;
      padding-left: 15px !important;
      border: 0.25px #ccc solid;
    }
    #GainDropdown, #NoGainDropdown{
      background-color: #fff;
    }
    .sector{
      height: 50px;
    }
/* Sector Style Ends */

     @media only screen and (orientation: landscape){

        .charts{
          width: 60%;
          margin: auto;
          margin-top: 120px;
            }

            .charts > div {
              display: flex;
              width: 100%;
              margin: auto;
              max-width: 660px;
          }

            #comparel .block1{
                width: 30%;        
             }

             .static > .range > #clear {
              margin-left: -34px;
              width: 34px;
             }

             .range {
              margin-top: 60px;
            }
            canvas {
              height: 500px !important;
            }
            [class^=results], [class^=resultsd]{
              margin-left: 10px !important;
              margin-right: -4px;
              
             }

             .search{
              display: block;
              margin-left: 15px;
              background-color: #fff;
              width: 20%;
              position: fixed;
              margin-top: 20px;
             }
             .search input, .search button{
              width: 72% !important;
              /* margin-left: 15px !important; */
              /* min-width: 100px !important;
              max-width: 100px !important; */
             }
             .dropdown{
              width: 100%;
             }

             .Ddropdown, .Gdropdown {
              width: 20% !important;
              margin: 0 8px;
          }

          #filter, #filters {
            min-width: 20% !important;
        }

             #clear {
              background-color: #ccc;
              margin-top: 1px !important;
              width: 34px !important;
              min-width: 34px !important;
              max-width: 34px !important;
              border-radius: 0 50%;
              height: 35px;
              margin-left: -31px !important;
              position: absolute;
          }
          #compare, #Favourits{
            display: block;
          }
          #secSearch {
            margin-top: 20px;
        }

     }     
     
