    #comparel{
      position: absolute;
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }


    #comparel .block1{
        display: block;
        width: 25%;
        height:500px;
        margin: 0 1px;

     }

     .block1 > div{
      line-height: 1.5;
     }

  .volume{
    text-align: left;
    margin-left: 50px;
  }

  #daysbuy, #BuyDropdown{
    width :100%;

  }

     button, a{
     background-color: #FFD700;
     border: none;
     border-radius: 10px;
     height: 36px;
     margin: auto;
     width: 45%;
     margin:8px;
     text-align: center;
      text-decoration-line: none;
      padding-top: 4px;
      font-family: sans-serif;
      font-size: 15px;
      font-weight: 500;
      color: #000;
}
[id^='getData']{
  width: 100% !important;
  margin-left: 0px !important;

}
     static a{
          text-decoration: none;
          /* width: 20%; */
          padding-top: 5px;
          margin-bottom: -5px !important;
          text-align: center;
          height: 25px;
            }


     body{
       min-width: 320px;
       margin: 0 !important;
     }
/* .Pdrop-options {
  display: none;
} */
     .slider{
      display: flex;
      width: 96%;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: auto;

     }
     #mini, #maxi{
      width: 20%;
      border: none;
      text-align: center;
     }
     #slider{
      width: 100%;
     }

     .charts{
        width: 100%;
        margin-top: 110px;
          }
    .charts > div{
        display: block;
        width:100%;
        margin:auto;
        margin-top: 25px;
      }
      
      .topDivtag{
        width: 95%;
        text-align: center;
      }
      .bottomDivTag{
        display: flex;
      }
      .charts2{
        display: none;
        width: 100%;
        height : auto;
        top: 100px;
        position: absolute;
        opacity: 1;
        background-color: #f0fdff;
        z-index: 2099;
      }

      .charts2 > div{
        max-width: 320px;
        margin: auto;
      }

     .right{
      align-self: center;
      text-align: left;
      width: 20% !important;
      font-size: 12px !important;
     }
     .right .block1{
      letter-spacing: 0.08rem;
      width: 100%;
     }
     canvas {
      width: 300px !important;
    }
    .downcharts{
      background-color: rgba(210, 50, 10, 0.15);
    }
    .charts8{
      background-color: rgba(50, 250, 100, 0.05);
    }
    .barvP{
      background-color: rgba(50, 250, 100, 0.10);
    }
    .favouritsection{
      margin-top: 80px;
    }
     
     canvas:not(.volume){
        margin: 15px 0;
        max-width: 100% !important;
        height: 300px !important;

      }
      canvas.volume{
        margin: 0;
        height: 150px !important;
        max-width: 100% !important;
      }

.buttonbar{
  display: flex;
  width: 98%;
}

     .MarketCap, .High, .Reserve, [class^='difference']{
          background-color: #FFD750;
          padding: 0 2px;
          width: 100%;
      }

      [id^='getData'], 
      [class^='upTrend'], 
      [class^='downTrend'],
      .pagelink{
        display: none;
        width: 100% !important;
      }
      .Pdropdown,  .Ddropdown, .Gdropdown, .Pagedropdown{
        width: 25% !important;
        margin: 0 8px;
        justify-content: center;
      }
      #price, #gainers, #nogainers, #pages {
        width: 100% !important;
        margin-left: 0 !important;
        display: flex;
        justify-content: center;
        height: 40px;
        padding-bottom: 10px;
    }


      #pages, 
      #pagesDropdown > a.pagelink,
      #pagesDropdown > button.pagelink {
        width: 100% !important;
      }

      .upTrends::before, 
      .upTrend0::before, 
      .upTrend1::before, 
      .upTrend2::before, 
      .upTrend3::before,
      .upTrend4::before, 
      .upTrend5::before{       
        transform: scale(1.5);
        display: inline-flex;
        /* margin-left: 5px; */
        width: 12px;
        content: '\25b2';
        padding-right: 0.5em;
        color: RGB(0, 200, 0);

      }

      .downTrends::before,
      .downTrend0::before, 
      .downTrend1::before, 
      .downTrend2::before, 
      .downTrend3::before, 
      .downTrend4::before, 
      .downTrend5::before{      
        transform: scale(1.5);
        display: inline-flex;
        /* margin-left: 5px; */
        width: 12px;
        content: '\25bc';
        padding-right: 0.5em;
        color: red;

      }

      button span{
        padding-left: 12px;
        display: contents;
      }

      .difference.up {
        background-color: #65f050f9;
      }
      .VolumeChange{
        display: flex;
        /* margin-top: -50px; */
        flex-wrap: wrap;
      }

      .difference.down {
        background-color: #ff5e00b2;
      }
      .company, .Low, .Barrowing, .bookvalue{
        padding: 0 2px;
      }

      .currentPrice {
        padding: 6px 5% 0 15px;
        font-weight: 600;
      }

     .search{
      display: flex;
      width: 98% !important;
      background-color: #fff;
      padding: 10px 5px;
      flex-wrap: wrap;
      justify-content: center;
     }
     .search input{
       height: 30px;
       width:30%;
     }
     .search #getSector{
      padding: 0 !important;
      margin-top: 0;
      width: 30% !important;
  }
     
 /* #secSearch{
  margin-top: 54px;
 } */
 #rangeshow{
      position: fixed;
      bottom: 0px;
      right: 0px;
      z-index: 99;
      height: 100px;
      width: 100px;
      cursor: pointer;
 }
     .static{
       opacity: 1;
       background-color: #fff;
       position: fixed;
       top: 0;
       margin: 0;
       display: flex;
       flex-wrap: wrap;
       width: 100%;
       z-index: 200;
       height: 100px;
       justify-content: center;
       padding-bottom: 10px;
       min-width: 320px;
     }
     .page{
      display: flex;
      width: 80%;
      justify-content: end;
     }
     .nsearch{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
     }
     
     label{
       margin: 5px 10px;
       display: inline-block;
       width: fit-content;
     }
     #filter, #filters{
      /* min-width: 250px;
      max-width: 250px; */
      height: 30px;
      margin-left: 1px;
     }
     .range{
      /* position: fixed; */
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-between;
      opacity: 1;
      background-color: #fff;
      /* margin-top: 60px; */
      z-index: 200;
     }
  
     .range button, .range dropdown{
       width:30% !important;
     }
     .active{
       background-Color : rgb(0, 168, 0);
     }
  
     .buy{
       position: relative;
       display: none;
     }
     .show{
       display: block !important;
     }
     .dropdown{
       width: 30%;
     }
     .dropdown button{
       width: 90% !important;
     }
     .resultbox{
      width: 21%;
      margin: 0 !important;
      padding: 0;
      display: flex;
      justify-content: space-between;
     }

     [class^=results], [class^=resultsd] {
      width: 93% !important;
      margin-left: -5px !important;
      margin-right: -5px;
  }
     
     .volume li{
        margin: 20px 50px;
        padding: 0 30px;
  
     }

     #comparel > div > a{
        height: 0px;
        width: 100% !important;
            
    }
    input[type='checkbox']{
        cursor: pointer;
    }
    input[type='checkbox']:nth-of-type(odd):before{
      content: "★";
      display: inline-block;
      font-size: 32px;
      margin-top: -16px;
      color: rgb(200, 200, 200);
    }

    input[type='checkbox'].star:before{
      color: rgb(0, 150, 255);
    }

    input[type='checkbox']:nth-of-type(odd){
      width: 0;
    }



/* Sector style Start */

  #clear{
    background-color: #ccc;
    margin-top: 10px;
    margin-left: -36px;
    width: 38px !important;
    border-radius: 0 50%;
    height: 35px;
  }
  #SectorList{
    display: block;
    z-index: 2000;
    position: fixed;
    list-style: none;
    background-color: aliceblue;
    line-height: 1.5;
    margin-top: 0;
    padding-left: 3px;
    right: 4px;
    left: 4px;
    height: 90%;
    overflow: scroll;
    top: 0;
       }
    #SectorList li{
        border-bottom: 0.5px solid #000 ;
        padding-left: 8px;
        line-height: 2;
       }

    
      .static > .range  > a, button, a {

      width : 20% !important;
    }
    #filter{
      -webkit-border-radius: 20px;
      border-radius: 20px;
      /* margin-left: 10px !important; */
      padding: 2px;
      /* padding-left: 15px !important; */
      border: 0.25px #ccc solid;
      width: 60% !important;
    }

    #PriceDropdown{
      background-color: #fff;
      width: 172px !important;
      position: fixed;
      z-index: 220;
    }

    

    #GainDropdown, #NoGainDropdown, #pagesDropdown{
      background-color: #fff;
      width: 96% !important;
      right: 18px;
      position: fixed;
      z-index: 220;
    }
    /* .sector{
      height: 50px;
    } */
    #pagesDropdown{
      /* top: 50px; */
      left: 0px;
    }
    .dayComp{
      display: flex;
      justify-content: space-evenly;
    }

    .dayCompare::before, .LCompare::before{
      font-size: 10px !important;
    }
    #getstockData, #getdma, #getfiveperData{
      margin-left: auto !important;
    }
    .dma{
      background-color: aliceblue;
    }
    .sliders{
      margin-left: 10px;
    }
    .sliders input[type='text']{
      width: 50px;
    }
    .sliders input[type='range']{
      min-width: 270px;
    }

    .bar, .barv{
      display: flex;
      justify-content: flex-start;
      height: 225px;
      overflow: hidden;
      letter-spacing: -1px;
      width: 100% !important;
      position: relative;
      /* margin-top: 30px; */
      /* max-width: 280px; */
    }
    .LastFive{
      display: flex;
      width: 100%;
      /* margin-top: -70px; */
    }
    .LastFiveChild {
      width: 20%;
      margin-top: 10px;
    }
    .stockslider{
      width: 80%;
      margin-right: 0;
      z-index: 1000;
      position: relative;
    }

    .bar > div, .barv > div{
      position: relative;
      width:3%;
      margin-right: 1px;
    }
    .barc, .barcv{
      position: relative;
      width: 10px;
      margin: 0 1px;
      margin-top: 30px;

    }
    .barcspan, .barcspanv{
      writing-mode: vertical-rl;
      text-orientation: upright;
      text-align: end;
      font-size: 10px;
      margin-left: -2px;
      width: -webkit-fill-available;
      position: absolute;
      bottom: 40px;
      color: #000;
      z-index: 100;

    }

    canvas[id^='bar']{
      width: 100% !important;
      height: 215px !important;
      font-size: 16px;
      letter-spacing: 1.5px;
    }

    #pages{
      margin-left: 0px !important;
    }

    [id^=sliderButton], #sliderReset{
      margin: auto;
     }  
     
     .hide{
      display: none !important;
    }
     a.pagelink {
      margin-top: 0;
      height: 30px;
  }

  .downTrend0, .upTrend0{
    margin-top: 0 !important;
  }
/* Sector Style Ends */

     @media only screen and (orientation: landscape){

        .charts{
          width: 60%;
          margin: auto;
          margin-top: 120px;
            }

            .charts > div {
              display: flex;
              width: 100%;
              margin: auto;
              max-width: 780px;
          }

            #comparel .block1{
                width: 30%;        
             }

             .static > .range > #clear {
              margin-left: -34px;
              width: 34px;
             }

             /* .range {
              margin-top: 60px;
            } */
            canvas {
              height: 150px !important;
              width: 600px !important;
            }
            canvas:not(.volume) {
              height: 500px !important;
              width: 600px !important;
              max-width: 600px !important; 
            }


            [class^=results], [class^=resultsd]{
              margin-left: 10px !important;
              margin-right: -4px;
              
             }

             .search{
              display: block;
              margin-left: 15px;
              background-color: #fff;
              width: 98% !important;
              /* position: fixed; */
              margin-top: 20px;
             }
             .search input, .search button{
              width: 72% !important;
             }
             /* .dropdown{
              width: 100%;
             } */

             .Ddropdown, .Gdropdown, .Pagedropdown {
              width: 20% !important;
              margin: 0 8px;
          }
          /* #pages{
            width: 172px !important;
          } */

          /* #filter, #filters {
            min-width: 20% !important;
        } */

        [class^=upTrend], [class^=downTrend]{
          width: 93% !important;
        }

             #clear {
              background-color: #ccc;
              margin-top: 1px !important;
              width: 34px !important;
              min-width: 34px !important;
              max-width: 34px !important;
              border-radius: 0 50%;
              height: 35px;
              margin-left: -31px !important;
              position: absolute;
          }
          #compare, #Favourits{
            display: block;
          }
          #secSearch {
            width: 20% !important;
            height: 25px;
            margin-top: 0px;
        }

        .right{
          align-self: center;
          text-align: left;
          font-size: large;
         }
         .right .block1{
          letter-spacing: 0.08rem;
         }

         #GainDropdown, #NoGainDropdown{
          background-color: #fff;
          width: 90% !important;
          right: 0px;
          position: relative;
        }

        #PriceDropdown{
          background-color: #fff;
          width: 90% !important;
          left: 5px;
          position: relative;
        }


        [id^="getData"], button, a {
          height: 30px;
        }
        #price, #gainers, #nogainers{
          place-content: center;
        }

        #pagesDropdown{
          position: relative;
          top: 0;
        }
        a.pagelink {
          margin-top: 0;
          height: 25px;
      }

      #price, #gainers, #nogainers, #pages {
        height: 30px;
    }

    
    canvas[id^='bar']{
      width: 100% !important;
      height: 150px !important;
    }

     }   
    